body {
    font-family: 'Barlow', sans-serif;
    margin: 10px 18%;
}

form {
    margin: 18px 0px;
}

form input[type] {
    margin: 3px;
}

form label {
    margin: 3px;
}

form fieldset ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form fieldset li {
    margin: 3px 0px;
    padding: 0;
}

.btn-info-display {
    padding: 2px 2px;
    margin: 4px 2px;
    text-align: center;
    font-size: 102%;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 0, 0, 0.3);
}

.btn-info-display:hover {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: 0.3s;
}

.btn-calculate {
    padding: 8px 22px;
    margin: 4px 2px;
    text-align: center;
    font-size: 102%;
    color: black;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid  rgba(0, 0, 0, 0.4);
}

.btn-calculate:hover {
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid  rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 0.3s;
}

.empty-block {
    float: left;
    margin: 3px 5px;
    padding: 3px;
    border: 2px solid rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
}

.block {
    font-family: 'Barlow', sans-serif;
    float: left;
    margin: 3px 5px;
    padding: 3px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.in-fuselage {
    float: none;
}

.type1 {
    width: 80px;
    height: 96px;    
    background: rgba(4, 198, 247, 0.7); 
}

.type2 {
    width: 80px;
    height: 40px;
    background: rgba(247, 203, 4, 0.7); 
}

.type3 {
    width: 180px;
    height: 96px;
    background: rgba(4, 247, 4, 0.7); 
}

.step-one {
    padding: 10px 0px;
    clear: both;
}

.step-two {
    padding: 10px 0px;
    clear: both;
}

.step-fuselage {
    padding: 5px 0px;
    clear: both;    
}

.fuselage-container {
    padding: 5px 0px;
    clear: both;    
    overflow-x: auto;
}

.fuselage-table {    
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: table;
}

.fuselage {    
    column-width: 100px;
    height: 60px;
}

.fuselage-section {
    height: 50px;
    border: 1px dashed rgba(0, 0, 0, 0.15);
}

.fuselage-numbering {    
    column-width: 100px;
}

.fuselage-section-numbering {

    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 120%;
    font-style: bold;
    text-align: center;    
}

.calculating-message {
    font-style: italic; 
}