<h2>Aircraft Loading Problem</h2> 
<p>The <a href="https://www.airbus.com/innovation/airbus-quantum-computing-challenge/Problem-statements.html">Airbus Quantum Computing Challenge</a> is a set of problems from Airbus where the challenge is to implement the solutions on a quantum computer. This project looks specifically at <b>Problem Statement 5: Aircraft Loading Optimisation</b>. 

This solver currently does <b>not</b> work with IE or Edge. The server is only one vCPU, with 3 <a href="http://www.gevent.org/index.html">gevent</a> workers, but it still manages the example optimisations with relative ease.</p>
<h2>Two linear programs</h2> 
<p> There are currently two linear programs. The notation and labels are consistent between the linear programs. The total number of blocks being considered is $n$, although the solution will only have $N$ blocks. The length of the fuselage is $L$, this is in units of type 1 cargo blocks. The maximum payload of the fuselage is $W_p$. The index $i$ indicates a cargo block, so $s_i$ is the size of block $i$, and $m_i$ is the mass of block $i$. $s_i$ can be $0.5$, $1$ or $2$. $b_i$ is $1$ if block $i$ is in the fuselage and $0$ if block $i$ is not in the fuselage. The index $j$ indicates a section of the fuselage, so $j$ goes from $1$ to $L$. </p>
<h3>Step one</h3> 
<p>The first linear program is significantly simpler than the second and therefore runs very quickly. It takes the list of all available cargo blocks and returns the subset of cargo blocks which maximises the mass of the cargo blocks without exceeding the maximum weight limit or the length of the fuselage. </p> 
<p>
$$ \textrm{maximise} \quad \sum_{i=1}^{n}m_ib_i  
   \\  \textrm{subject to} \quad \sum_{i=1}^{n}m_ib_i \leq W_p ,
   \\ \textrm{and} \quad \sum_{i=1}^{n}s_ib_i \leq L $$
</p>
<p>
In words, we want to maximise the mass of the blocks in the fuselage by summing the mass of all the blocks which appear in the fuselage. This is subject to the constraints that the mass of all the blocks that appear in the fuselage is less than the maximum payload, and also that the size of all the blocks that appear in the fuselage is less that the length.
</p>
<h3>Step two</h3> 
<p>The second linear program is more complicated as we have to fit the blocks into the fuselage such that the centre of gravity is in the middle (this could also be set to an arbitrary position). The linear program involves introducing a matrix, $x_ij$, which is 1 if block $i$ is in sections $j$, and 0 otherwise. This means two blocks can have the same $j$ index if they are both size 0.5. A block of size 2 is in both section $j$ and $j+1$. The resulting linear program is:</p>
<p>
    $$ \textrm{minimise} \quad \sum_{i,j}x_{ij}m_j\left(j-\tfrac{L-1}{2}\right) \left[1-\tfrac{1}{3}\left(s_i-\tfrac{1}{2}\right)\left(s_i-1\right)\right]
    \\ \textrm{subject to constraints, 1): } \sum_{i,j}x_{ij}m_j\left(j-\tfrac{L-1}{2}\right) \left[1-\tfrac{1}{3}\left(s_i-\tfrac{1}{2}\right)\left(s_i-1\right)\right] \geq 0
    \\ \textrm{and 2) for all fuselage sections (j):  } \sum_{i=1}^{n}x_{ij}\left[s_i-\tfrac{2}{3}\left(s_i-\tfrac{1}{2}\right)\left(s_i-1\right)\right] \leq 1 
    \\ \textrm{and 3) for all cargo blocks (i):  } \sum_{j=1}^{L}x_{ij} - s_i - \tfrac{2}{3}\left(1-s_i\right)\left(2-s_i\right)= 0
    \\ \textrm{and 4) for all size 2 cargo blocks (i):  } \sum_{j=1}^{L}x_{ij}j(-1)^j \leq 1 \quad \textrm{and} \quad \sum_{j=1}^{L}x_{ij}j(-1)^j \geq -1 $$
</p>
<p>We want to minimise the torque around the centre position, so this is minimising the sum of the torque of all the individual blocks where the torque is the mass of block $i$ if $i$ is in position $j$ around the centre point. The last term gives $0.5$ if the block is size 2. This is because blocks of size 2 are in two positions. The contraints can be described as follows:</p>
<ol>
    <li>The torque must be greater than or equal to $0$, or it will just go to a maximally negative number since it is being minimised. Due to symmetry it doesn't matter if we pick out minimise and constrain to being greater than or equal to $0$, or if we maximised and constrain to be less than or equal to $0$.</li>
    <li> (j) for each fuselage section, we have a constraint that position $j$ can only have one block, two half blocks, or no blocks. Size two blocks count as one block in two neighbouring positions, so they are also accounted for.</li>
    <li> (i) for each block, we have the constraint that the block can only be in one place, or must be in two places if the block is size two.</li>
    <li> (i) for each size two block, we have the constaint that the two positions of the block must be neighbouring.</li>
</ol>


