<h3>Transforming from linear program to QUBO</h3> 
<p>        
    We need to map our linear programs to QUBO (quantum unconstrained binary optimisation) problems. 
    This makes the problems suitable for a quantum annealer such as the D-Wave machine. 
    
</p>    
<p>
    We start with a linear program of the form in step one: 
</p>    
<p>
    $$ \textrm{maximise} \quad \sum_{i=1}^{n}m_ib_i  
    \\  \textrm{subject to} \quad \sum_{i=1}^{n}m_ib_i \leq W_p ,
    \\ \textrm{and} \quad \sum_{i=1}^{n}s_ib_i \leq L $$
</p>
<p>
    Which can be written
</p>
<p>
    $$ \textrm{maximise} \quad \vec{m} \cdot \vec{b}  
    \\  \textrm{subject to} \quad \mathbf{B} \vec{b} \leq \vec{c} $$
</p>
<p>
    where $\vec{b}$ is a vector of $b_i$, $\vec{m}$ is a vector of $m_i$, and $\vec{c}=\left(W_p~L\right)^{\intercal}$. 
    Using slack variables we can turn the inequality into an equality. This means we now have
</p>
<p>
    $$ \textrm{maximise} \quad \vec{x}^{\intercal} \mathbf{C} \vec{x}  
    \\  \textrm{subject to} \quad \mathbf{A} \vec{x} = \vec{c} $$
</p>
<p>
    With $\vec{b}$ extended by slack variables, giving $\vec{x}$, a vector of binary variables, $x_i \in \{0, 1\}$. 
    To accomodate the slack variables we extend the matrix $\mathbf{B}$ to $\mathbf{A}$, where the coefficients of the slack variables are powers of 2 in order to span the set of numbers up to the limit of the constraint. 
    We can now recast the problem as a quadratic unconstrained binary optimisation problem.
</p>
<p>
    $$ y = \vec{x}^{\intercal} \mathbf{C} \vec{x} + P \left(\mathbf{A} \vec{x} - \vec{c}\right)^{\intercal}\left(\mathbf{A} \vec{x} - \vec{c}\right)$$
    $$ y = \vec{x}^{\intercal} \mathbf{C} \vec{x} + P \left(\vec{x}^{\intercal} \mathbf{A}^{\intercal}  - \vec{c}^{\intercal}\right)\left(\mathbf{A} \vec{x} - \vec{c}\right)$$
    $$ y = \vec{x}^{\intercal} \mathbf{C} \vec{x} + P \left(\vec{x}^{\intercal} \mathbf{A}^{\intercal}\mathbf{A} \vec{x}  - \vec{x}^{\intercal} \mathbf{A}^{\intercal} \vec{c} - \vec{c}^{\intercal}\mathbf{A} \vec{x} \right) + P\vec{c}^{\intercal}\vec{c}$$
    $$ y = \vec{x}^{\intercal} \mathbf{C} \vec{x} + \vec{x}^{\intercal} \mathbf{D} \vec{x} + \textrm{constant}$$
    $$ y = \vec{x}^{\intercal} \mathbf{Q} \vec{x} + \textrm{constant}$$
</p>
This means we can compute $\mathbf{Q}$ using 
$$\mathbf{D} = P\left(\mathbf{A}^{\intercal}\mathbf{A} - \mathrm{diag}\left(\mathbf{A}^{\intercal} \vec{c}\right) - \mathrm{diag}\left(\vec{c}^{\intercal}\mathbf{A}\right)\right)$$
$$\mathbf{D} = P\left(\mathbf{A}^{\intercal}\mathbf{A} - 2\mathrm{diag}\left(\mathbf{A}^{\intercal} \vec{c}\right)\right) $$
For references for the approach used see: 
    <ul>    
        <li><a href="https://arxiv.org/ftp/arxiv/papers/1811/1811.11538.pdf">A Tutorial on Formulating and Using QUBO Models</a></li>
        <li><a href="https://arxiv.org/pdf/1801.08653.pdf">Efficient Combinatorial Optimization Using Quantum Annealing</a></li>
        <li><a href="file:///C:/Users/D80089/Downloads/qbsolv_techReport.pdf">Partitioning Optimization Problems for Hybrid Classical/Quantum Execution</a></li>
    </ul>
</p>

<p></p>