<!DOCTYPE html>
<html>
    <head>
        <title>Aircraft Loading Optimisation</title>
        <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    </head>
<body>
    <h1>Airbus Quantum Computing Challenge</h1>
    <form action="/" method="POST">
        <fieldset>
            <legend><b>Use sample blocks and parameters</b></legend>
            {{ sample_form.csrf_token }}
            <ul>
                <li>{{ sample_form.sample_blocks.label }} {{ sample_form.sample_blocks }}</li>
                <li>{{ sample_form.simple_test_blocks.label }} {{ sample_form.simple_test_blocks }}</li>
                <li>{{ sample_form.harder_test_blocks.label }} {{ sample_form.harder_test_blocks }}</li>
                <li>{{ sample_form.submit }}</li>
            </ul>   
        </fieldset>
    </form>   
    <form action="/" method="POST">
        <fieldset>
            <legend><b>Add a cargo block</b></legend>
            {{ form.csrf_token }}
            <ul>
                <li>{{ form.mass.label }} {{ form.mass(size=10) }}</li>
                <li>{{ form.blocksize.label }} {{ form.blocksize }}</li>
                <li>{{ form.submit }}</li>
            </ul>           
        </fieldset>
    </form>
    <form action="/" method="POST">
        <fieldset>
            <legend><b>Remove a cargo block</b></legend>
            {{ remove_form.csrf_token }}
            <ul>
                <li>{{ remove_form.block_name.label }} {{ remove_form.block_name(size=10) }}</li>
                <li>{{ remove_form.submit }}</li>
            </ul>                       
        </fieldset>
    </form>
    <form action="/" method="POST">
        <fieldset>
            <legend><b>Change fuselage parameters</b></legend>
            {{ params_form.csrf_token }}
            <ul>
                <li>{{ params_form.fuselage_length.label }} {{ params_form.fuselage_length(size=10) }}</li>
                <li>{{ params_form.fuselage_length.label }} {{ params_form.fuselage_length(size=10) }}</li>
                <li>{{ params_form.submit }}</li>
            </ul>         
        </fieldset>
    </form>    
    <ul>
     {% for flashed_message in get_flashed_messages() %}
        <li>
            <div class="flashed-message">{{ flashed_message }}</div>
        </li>
    {% endfor %}       
    </ul>
    <h2>List of all available cargos</h2>
    <div id="available-blocks" class="blocks">
    </div>
    <div id="step-one" class="step-one">
        <h2>Step 1: List of cargos in optimal solution</h2>
        <button onclick="optimiseForLoadedCargo()">Find optimal cargo</button>
        <p id="step-one-parameters" class="step-one-parameters"></p>
        <div id="step-one-blocks" class="blocks"> </div>
    </div>
    <div id="step-two" class="step-two">
        <h2>Step 2: Order of cargos in optimal solution</h2>
        <button onclick="optimiseForCargoOrder()">Find optimal order</button>
        <h4 id="calculating-message" class="calculating-message"></h4>
        <p id="step-two-parameters" class="step-two-parameters"></p>
        <div id="step-two-blocks" class="blocks"> </div>
    </div>
    <div class="step-fuselage">
        <h3>Fuselage</h3>
        <div class="fuselage-table">
            <div id="fuselage-container" class="fuselage-container">
                <div id="fuselage" class="fuselage">
                </div>
            </div>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
